{
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": false,
    "printWidth": 10,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": true,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "useTabs": false
}