@primaryColor: rgb(53, 154, 222);
@infoColor: #70c0e8;
@successColor: rgb(66, 218, 142);
@warningColor: rgb(255, 186, 40);
@dangerColor: rgb(236, 75, 75);

@fontColorBlack: #213547;
@fontColorWhite: #fff;
@fontSize: 14px;
@fontSizeLarge: 18px;
@fontSizeSmall: 12px;
@fontWeight: 500;
@fontWeightBold: 600;

/* Button */
@btnHeight: 32px;
@btnHeightLarge: @btnHeight * 1.25;
@btnHeightSmall: (@btnHeight / 1.25);

/* Card */
@cardPaddingLeftPx: 24px;
@cardPaddingTopPx: 20px;
