.box {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
}
.menuBox,
.systemBox {
  display: flex;
  height: 100%;
  align-items: center;
  .menu {
    padding: 0 20px;
    line-height: 64px;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      color: var(--menuColor);
    }
  }
  .system {
    padding: 0 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 2px;
    &:hover {
      background-color: rgb(236, 232, 232);
    }
  }
}
.searchBox {
  display: flex;
  align-items: center;
  position: relative;
}
input {
  transition: all 0.3s;
  height: 30px;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
  background-color: var(--inputBgColor);
  text-indent: 8px;
  outline: none;
  &::-webkit-input-placeholder {
    color: #aab2bd;
    font-size: 14px;
  }
  &:hover {
    border-color: var(--menuColor);
  }
  &:focus {
    border-color: var(--menuColor);
    box-shadow: 0 0 0 2px rgba(24, 160, 88, 0.2);
  }
}
.list {
  position: absolute;
  width: 160px;
  background-color: #fff;
  box-shadow: 0 0 1px 1px var(--borderColor);
  top: 38px;
  border-radius: 2px;
  left: 3px;
  margin: 0;
  padding: 5px;
  li {
    list-style: none;
    text-align: left;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 5px;
    &:hover {
      background-color: pink;
    }
  }
}
.switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
.menuActive {
  color: #18a058;
}
.systemActive {
  background-color: rgb(236, 232, 232);
}
.searchListActive {
  background-color: pink;
}
.searchBlur {
  display: none;
}
